In [1]:
## Importing required libraries
import pandas as pd #for data preprocessing

#Data Visualization Libraries
import seaborn as sns
import matplotlib.pyplot as plt

#Linear Algebra
import numpy as np
 
#Import Datetime module
from datetime import datetime

from sklearn.model_selection import KFold,StratifiedKFold,GridSearchCV,RandomizedSearchCV, train_test_split #For splitting

#Evaluation Metrics
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score

#To ignore unnecessary warnings
import warnings

from sklearn.preprocessing import LabelEncoder,OneHotEncoder # for encoding categorical variables
from sklearn.linear_model import LogisticRegression

In [2]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
ss = pd.read_csv('SampleSubmission.csv')

In [3]:
print(f'The Size of the train set is: {train.shape}, and the size of the test set is {test.shape}')

The Size of the train set is: (2248884, 6), and the size of the test set is (99792, 4)

In [4]:
print(train.shape)
print(test.shape)
print(ss.shape)

(2248884, 6)
(99792, 4)
(14256, 2)

In [5]:
train.columns

Index(['date', 'store_id', 'category_id', 'target', 'onpromotion',
       'nbr_of_transactions'],
      dtype='object')

In [6]:
test.columns

Index(['date', 'store_id', 'category_id', 'onpromotion'], dtype='object')

In [7]:
train.head()

   date store_id  category_id  target  onpromotion  nbr_of_transactions
0   365  store_1  category_24     0.0            0                  0.0
1   365  store_1  category_21     0.0            0                  0.0
2   365  store_1  category_32     0.0            0                  0.0
3   365  store_1  category_18     0.0            0                  0.0
4   365  store_1  category_26     0.0            0                  0.0

In [8]:
train['nbr_of_transactions'].value()

array([   0.,  840.,  487., ..., 4855., 5246., 4459.])